@media (max-width:46.25em) {
    .root{
        height: 110vh;
        overflow:auto;
    }
    .from{
        width: 100%;
        margin: 50px 0;
        overflow: hidden;
    }
    .heading{
        display: none;
    }
    .item-checkbox-input {
        width: 38%;
    }
    .btn{
        width: 100%;
    }
    .input-select {
        width: 100%;
        margin: 0;
    }
    .load-avata {
        width: 100%;
    }
    .my{
        box-shadow: none;
        margin: 50px 0;
    }
    .input-select{
        padding-left: 12px;
    }
    .load-avata-placeholder {
        line-height: 38px;
        display: inline;
        height: 38px;
    }
}

