@media (max-width:46.25em) {
    .root{
        height: 110vh;
    }
    .from{
        width: 100%;
        overflow: hidden;
    }
    .heading{
        display: none;
    }
    .item-checkbox-input {
        width: 38%;
    }
    .btn{
        width: 100%;
    }
    .input-select {
        width: 100%;
        margin: 0;
    }
    .load-avata {
        width: 100%;
    }
    .my{
        box-shadow: none;
    }
}

